body {
    
   border: 5px solid #A569BD;
   background-color: #F5EEF8;

}

#banner {
    width: 100%;
}

.principal {
    background-color: #F5EEF8;
    text-align: center;
    padding: 30px;

}

h1 {
    font-size: 40px; 
    color: #76448A;
    height: 50px;
    text-align: center;
    
}


em strong {
    color: #A569BD;
}

p {
    height: 50px;
}

#missao {
    font-size: 20px;
}

.itens {
    font-style: italic;
    text-align: center;
}

#beneficios {
    background-color: #A569BD;
    text-align: left;
    padding: 20px;
}


h3 {
    text-align: center; 
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

#laly {
    
    width: 25%;
    padding-left: 50px;

}
